// Base styles
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

    body {
        background: $blue;
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    // position: fixed;

    width: 60%;
    margin-left: 50%;
    margin-top: 200px;
    transform: translateX(-50%);
}

.container {
    width: 100%;
}

// Layout text
.planco-text {
    margin-top: 10px;
    margin-bottom: 50px;
}

.feedback {
    display: flex;
    
    a {
        flex-flow: row;
        white-space: nowrap;
        margin-left: auto;
    }
}

// JS
.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: $blue;
    z-index: 99;
    content: '';

    transition: 0.1s ease;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}