.search {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
        background: none;
        border: none;
        outline: none;

        display: flex;
        flex-direction: row;
        width: 300px;
        border: solid white 2px;
        border-radius: 50px;
        padding: 10px 5px 10px 20px;

        transition: 0.2s;

        &::placeholder {
            color: white;
            opacity: 0.5;

            transition: 0.2s;
        }


        &:focus, &:hover {
            background: rgba(114, 209, 255, 0.2);
            border-color: $light-blue;
            // color: $light-blue;

        }
    } // input

    .search-icon {
        transform: translate(-130%, 1.5px);

        svg {
            transform: scale(1.2);
            transition: 0.2s;

            g, line {
                stroke: $blue;
            }
        }

        &:hover {
            cursor: pointer;

            svg {
                transform: scale(1.3);
            }
        }
    } // .search-icon

    .search-focus {
        background: rgba(114, 209, 255, 0.2);
        border-color: $light-blue;
    }
} // .search