// Base styles
* {

    margin: 0;
    padding: 0;

}

html {

    height: 100%;

    body {

        background: $blue;
        display: flex;
        flex-direction: column;
        min-height: 100%;
    
    }

}


// Wrappers
.wrapper {

    display: flex;
    flex-direction: column;
    position: fixed;

    width: 60%;
    min-height: 78%;
    margin-left: 50%;
    margin-top: 200px;
    transform: translateX(-50%);

}

.container {

    width: 100%;

    // border: solid orange 1px;

}

.hide {

    transition: 0.2s;
    opacity: 0;
    pointer-events: none;

}