.nav-wrap {

    width: 80%;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // border: solid yellow 1px;

    .logo {

        display: flex;
        margin-right: auto;

        &:hover {

            cursor: pointer;

        }
    
    }

    .search {

        display: flex;
        flex-direction: row;
        align-items: center;

        input {

            background: none;
            border: none;
            outline: none;

            display: flex;
            flex-direction: row;
            border: solid white 2px;
            border-radius: 10px;
            padding: 5px 5px 5px 10px;

            transition: 0.2s;

            &::placeholder {

                color: white;
                opacity: 0.5;

                transition: 0.2s;

            }


            &:focus, &:hover {

                background: rgba( 114, 209, 255, 0.2 );
                border-color: $light-blue;
                border-radius: 10px;
                // color: $light-blue;
    
            }
            
        } // End of input

        

        .search-icon {

            margin-right: 5px;
            transform: translateX( -130% );

            &:hover {

                cursor: pointer;

            }
        }

        // add class in JS.
        .search-focus {

            background: rgba( 114, 209, 255, 0.2 );
            border-color: $light-blue;

        }

    } // End of .search
    
    .links {
    
        display: flex;
        width: 100%;
    
        ul {
    
            margin-left: auto;
            position: relative;
    
            li {
    
                margin-left: 30px;
                display: inline-block;
    
                a {
    
                    list-style: none;
                    font-weight: 400;
                    border: solid rgba( 255, 255, 255, 0 ) 2px;
                    border-radius: 50px;
                    padding: 10px 20px;
    
                    transition: 0.2s;
    
                    &:hover {
    
                        background: white;
                        color: $blue;
    
                        transition: 0.2s;
    
                    }
    
                }
    
                .active-link {
    
                    border: solid white 3px;
    
                }
    
            } // End of li
    
        } // End of ul
        
    } // End of .links

} // End of .nav-wrap