
@media only screen and (max-width: 1600px) {
    .card-wrapper {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media only screen and (max-width: 890px) {
    .card-wrapper {
        grid-template-columns: 1fr !important;
    }
}


@media only screen and (max-width: 1250px) {
    .links li {
        margin: 0 !important;

        &:not(:last-child) {
            display: none !important;
        }
}

    .logo {
        margin-right: 0;
    }

    .search {
        width: 100%;
    }
}

@media only screen and (max-width: 1350px) {
    .wrapper {
        width: 100%;
        margin-top: 86px;
    
        .translator-box {

            .input-box {
                width: 100%;
                border-radius: 0;
            }

            .output-box {
                width: 100%;
                border-radius: 0;
            }
        }
        
    }
}