.about-box {
    background: white;
    // border-radius: 15px;

    .secondary-wrapper {
        width: 95%;
        padding: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
        // border: solid red 1px;

        h1 {
            padding-bottom: 20px;
            color: $dark;
        }
    
        p {
            padding-bottom: 10px;
            color: $dark;

            &:last-child {
                padding-bottom: 20px;
            }
        }
    } // .secondary-wrapper
} // .about-box