.dictionary-box {
    background: white;
    border-radius: 10px;

    .letter-tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;

        width: 99%;
        margin-left: 50%;
        transform: translate(-50%, -80%);

        div {
            display: flex;
            align-items: center;
            
            padding: 0.5%;
            border-radius: 100%;
            
            transition: 0.2s;

            &:hover {
                cursor: pointer;
                transform: scale(1.3);

                transition: 0.2s;

                span {
                    color: white;
                    font-weight: 600;
                }
            }

            span {
                color: $white-50;
            }
        }

        

        .active-tab {
            border: solid $light-blue 2px;
            border-radius: 100%;
            background: rgba(114, 209, 255, 0.5);
            width: 40px;
            height: 40px;

            // transition: 0.2s;

            span {
                color: $light-blue;
                margin-left: 50%;
                transform: translateX(-50%) scale(1.5);
                font-weight: 600;
            }

            &:hover {
                color: $light-blue;
                transform: scale(1);

                span {
                    color: $light-blue;
                    transform: translateX(-50%) scale(1.5);
                }
            }
        }
    } // End of .letter-tabs

    .card-wrapper {
        // display: flex;
        // flex-direction: row;
        // flex-flow: wrap;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

        width: 97%;
        margin-left: 50%;
        padding: 20px 0;
        transform: translateX(-50%);

        small, span, em {
            color: $dark;
        }

        .card {
            background: white;
            border: solid $blue 2px;
            border-radius: 10px;
            max-width: 100%;
            min-width: 20%;
            padding: 10px;
            // margin: 20px 1%;
            content: '';

            .eng, .plc {
                display: flex;
                flex-direction: column;

                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }// End of .card
    }// End of .secondary-wrapper
}/// End of .dictionary-box