
@media only screen and (max-width: 1750px) {
    .card-wrapper {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media only screen and (max-width: 1350px) {
    .wrapper {
        width: 100% !important;
        margin-top: 85px !important;

        .translator-box {

            .input-box {
                width: 100%;
                border-radius: 0;
            }

            .output-box {
                width: 100%;
                border-radius: 0;
            }
        }

        .dictionary-box {
            border-radius: 0;
            padding-top: 70px;
            overflow: hidden;

            .letter-tabs {
                position: fixed !important;

                width: 100%;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
                padding: 10px;
                transform: translate(-50%,-100%);
                overflow-x: scroll;

                div {
                    margin-left: 20px !important;
                    span {
                        color: $dark;
                    }

                    &:hover {
                        span {
                            color: $dark-50 !important;
                        }
                    }
                }
            }

            .card-wrapper {
                
                border: none !important;
                border-bottom: solid $blue 2px !important;
                
            }
        } // End of .dictionary-box

        .about-box {
            border-radius: 0 !important;
        }
    } // End of .wrapper

    .planco-text, .feedback, footer {
        // text-align: center;
        padding: 0 20px;
        font-size: 12px;

        a {
            font-size: 12px;
        }
    }

    footer {
        width: 90% !important;
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 1290px) {
    .nav-wrap {
        padding: 10px 20px !important;

        li {
            margin: 0 !important;

            &:first-child {
                .nav-toggle {
                    display: flex !important;
                }
            }

            &:not(:first-child) {
                display: none !important;
            }
        }
    }
}

@media only screen and (max-width: 1055px) {
    .card-wrapper {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media only screen and (max-width: 890px) {
    .translator-box {
        flex-direction: column;
        height: auto !important;

        .input-box {
            height: auto !important;

            .input {
                height: auto !important;
            }

            .char-counter {
                margin-bottom: 20px !important;
            }
        }

        .output-box {
            height: auto !important;

            .output {
                height: auto !important;
                margin-bottom: 20px;
            }

            .copy {
                margin-bottom: 20px !important;
            }
        }
    }

    .card-wrapper {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media only screen and (max-width: 550px) {
    .card-wrapper {
        grid-template-columns: 1fr !important;
        grid-gap: 0 !important;

        .card {
            border: none !important;
            border-bottom: solid $blue 2px !important;
            border-radius: 0 !important;
        }
    }
}

@media only screen and (max-width: 270px) {
    body {
        overflow-x: hidden;
    }
    .card-wrapper {
        grid-gap: 0;
        
        .card {
            span {
                font-size: 16px;
            }
        }
    }
}