// Color Pallet
$white-50: rgba(255, 255, 255, 0.5);
$blue: #008ACC;
$light-blue: #72D1FF;
$light-blue-20: rgba(114, 209, 255, 0.2);

$dark: #3F3F3F;
$dark-50: rgba(63, 63, 63, 0.6);

$clear: rgba(255, 255, 255, 0);